:root {
    --theme0-tl: red;
    --theme0-tr: lime;
    --theme0-br: blue;
    --theme0-bl: yellow;

    --theme1-tl: #ff0059;
    --theme1-tr: #ff00bb;
    --theme1-br: #c300ff;
    --theme1-bl: #5700e2;

    --theme2-tl: #ff0026;
    --theme2-tr: #ff5e00;
    --theme2-br: #ff00c8;
    --theme2-bl: #8700e7;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #191b21;
    justify-content: center;
}

.canvas {
    background-color: white;
    background:
            radial-gradient(at center,       white,            white 100%),

            radial-gradient(at top left,     var(--theme2-tl), transparent 55%),
            radial-gradient(at top right,    var(--theme2-tr), transparent 55%),
            radial-gradient(at bottom right, var(--theme2-br), transparent 55%),
            radial-gradient(at bottom left,  var(--theme2-bl), transparent 55%),

            radial-gradient(at top left,     var(--theme2-tl), transparent 55%),
            radial-gradient(at top right,    var(--theme2-tr), transparent 55%),
            radial-gradient(at bottom right, var(--theme2-br), transparent 55%),
            radial-gradient(at bottom left,  var(--theme2-bl), transparent 55%);
    background-blend-mode: darken;
    width: 80vmin;
    height: 80vmin;
    margin: auto;
}
